.about {
  margin: 0 auto;
  max-width: toRem(1440);
  display: flex;

  &__img {
    margin: toRem(50) toRem(150);
    height: toRem(400);
    width: toRem(400);
    border-radius: 50%;
  }

  &__container {
    margin-right: toRem(150);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    font-size: toRem(36);
    color: $color-secondary;
  }

  &__description {
    font-size: toRem(24);
    color: $color-white;

  }
}