.banner {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;

  @include mq(lg) {
    height: calc(100vh - 120px);
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include mq(lg) {
      width: 100%;
      max-width: toRem(1200);
      flex-direction: row;
      justify-content: space-around;
    }
  }
}