.banner {
  margin: 0 auto;
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  @include mq(lg) {
    flex-direction: row;
    height: calc(100vh - 120px);
  }

  background-size: cover;
  background-position: center;
}