.banner {
  margin: 0 auto;
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include mq(lg) {
    flex-direction: row;
    height: calc(100vh - 120px);
    gap: toRem(350);
  }

  background-size: cover;
  background-position: center;
}