.bannerSection {
  margin: toRem(20) 0;
  font-size: toRem(24);
  text-align: center;
  width: toRem(400);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @include mq(lg) {
    font-size: toRem(36);
  }

  &__title {
    margin: 0;
    color: $color-white;
    display: flex;
    align-items: center;
    height: 40%;
  }

  &__desc {
    color: $color-white;
  }

  &__btn {
    width: toRem(180);
    text-align: center;
  }

}