.employees {
  margin: 0;
  width: 100%;
  min-height: calc(100vh - 240px);
  background-color: $color-white;

  &__offers {
    text-align: center;
    margin: 0 auto;
    padding-top: toRem(50);
    max-width: toRem(1200);

    &>h2 {
      margin: 0;
      padding: toRem(20) 0;
      color: $color-primary;
      font-weight: 600;
    }
  }
}

