.offer {
  margin: toRem(20);
  height: toRem(300);
  width: toRem(300);
  border: 4px solid $color-secondary;
  border-radius: toRem(20);
  color: $color-white;
  background-color: $color-primary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &:hover {
    transform: scale(1.1);
    cursor: pointer;
    color: $color-secondary;
  }

  &__role {
    width: 80%;
  }

}